@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}
@mixin forScreenSize($width) {
  @media(min-width: $width/16+em){
    @content;
  }
}